table { border-bottom: 1px solid black; padding-bottom:10px; margin-bottom:10px;}
tfoot{display:none}
html{color:#222222; background-color:#f5f5f5;}
table{width:100%}
td.last.alg_left, th>.txt_blu {color:#dc3545;}
tbody>tr>td.last{text-align:center}
thead>tr>th.last {display:none;}
.last>textarea{display:none}
.h2title:nth-child(n+2) {margin-top:150px}
thead>tr>th{text-align:left;}
a { text-decoration:none }
label {font-size:12pt;}
:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}
button {
  height:60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--button-bg-color);
  color: var(--button-color);
  margin: 0;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s;
}
button.success {
  --button-bg-color: #28a745;
  --button-hover-bg-color: #218838;
}
button.error {
  --button-bg-color: #dc3545;
  --button-hover-bg-color: #c82333;
}
button.warning {
  --button-color: #212529;
  --button-bg-color: #ffc107;
  --button-hover-bg-color: #e0a800;
}
button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
