body
{
  padding-top: 70px;
}
#ToastBox
{
  position: absolute; top: 100px; right: 30px;
}
.Cell_Div
{
  border:1px solid #DDDDDD;
  background-color:#FFFFFF;
  max-height:600px;
  overflow:auto;
}
footer
{
  margin-bottom:10px;
}
.jumbotron{
  padding-top:10px;
  padding-bottom:20px;
}
#chat_room
{
	position:fixed;
	bottom:0px;
	right:30px;
	width:50%;
	height:0px;
	max-width:300px;
	max-height:500px;
}
#chat_btn
{
	position:fixed;
	bottom:0px;
	right:30px;
}